/* Default font for everything */
* {
    font-family: 'Open Sans';
}

h1 {
    font-size: 14pt;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

button.tablinks {
    font-size: 16pt;
    font-weight: bold;
}

#favBtn {
    display: "inline-block";
    width: 30px; /* Adjust size as needed */
    height: 30px;
    background-color: #AAA; /* Star color */
    border: none;
    cursor: pointer;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    transition: background-color 0.3s ease;
}

#favBtn:hover {
    background-color: gold;
}

.waterRemoveBtn{
    float: right;
    cursor: pointer;
    transition: color 0.3s ease;
}

.waterRemoveBtn:hover{
    color: red;
}

.stateDiv {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

.stateHeader {
    margin: 0;
    font-size: 16pt;
}

.waterDiv{
    padding-left: 20px;
}

.waterHeader {
    margin: 0;
    padding-top: 10px;
    font-size: 12pt;
}

.waterList {
    margin: 0;
}

.waterList li {
    font-size: 11pt;
    margin-left: 40px;
    margin-bottom: 10px;
}
